<h2 mat-dialog-title *ngIf="data.instance.name == undefined">Create new instance</h2>
<h2 mat-dialog-title *ngIf="data.instance.name != undefined">Edit instance configuration</h2>

<mat-dialog-content>
  <form [formGroup]="instanceForm">
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
        <mat-error
          *ngIf="nameControl.invalid && nameControl.errors.nameNotUnique">
          Instance already exists
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Port</mat-label>
        <input matInput formControlName="port" type="number" placeholder="13353 (default)">
        <mat-hint>TCP traffic has to be allowed through the firewall</mat-hint>
        <mat-error
          *ngIf="portControl.invalid && portControl.errors.portNotUnique">
          Port is already in use
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Revision</mat-label>
        <mat-select formControlName="revision">
          <mat-option *ngFor="let revision of revisions" [value]="revision.url">
            {{revision.r}}
            <span *ngIf="revision.alias">({{revision.alias}})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="createRevisionDialog()" mat-icon-button aria-label="Add revision">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="lang">
          <mat-option value="zh">Chinese</mat-option>
          <mat-option value="hr">Croatian</mat-option>
          <mat-option value="cz">Czech</mat-option>
          <mat-option value="dk">Danish</mat-option>
          <mat-option value="nl">Dutch</mat-option>
          <mat-option value="en">English</mat-option>
          <mat-option value="fi">Finnish</mat-option>
          <mat-option value="fr">French</mat-option>
          <mat-option value="de">German</mat-option>
          <mat-option value="hu">Hungarian</mat-option>
          <mat-option value="id">Indonesian</mat-option>
          <mat-option value="it">Italian</mat-option>
          <mat-option value="ja">Japanese</mat-option>
          <mat-option value="ko">Korean</mat-option>
          <mat-option value="pl">Polish</mat-option>
          <mat-option value="pt">Portugese</mat-option>
          <mat-option value="ro">Romanian</mat-option>
          <mat-option value="ru">Russian</mat-option>
          <mat-option value="sk">Slovak</mat-option>
          <mat-option value="es">Spanish</mat-option>
          <mat-option value="sv">Swedish</mat-option>
          <mat-option value="tr">Turkish</mat-option>
          <mat-option value="uk">Ukrainian</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Debug level</mat-label>
        <mat-select formControlName="debug">
          <mat-option [value]="0">0</mat-option>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Pak</mat-label>
        <mat-select formControlName="pak">
          <mat-option *ngFor="let pak of paks" [value]="pak.url">{{pak.name}}-{{pak.version}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="createPakDialog()" mat-icon-button aria-label="Add pak">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Save</mat-label>
        <mat-select formControlName="savegame">
          <mat-option *ngFor="let save of saves" [value]="save.url">{{save.name}}-{{save.version}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="createSaveDialog()" mat-icon-button aria-label="Add save">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="save()" [disabled]="!instanceForm.valid" mat-button color="primary">Save</button>
  <button (click)="closeConfirm('Are you sure want to discard your changes?')" mat-button>Cancel</button>
</mat-dialog-actions>

