<mat-toolbar color="primary" class="mat-elevation-z6">
  <span class="title">
    <button mat-button routerLink="">
      <img src="icon.png" alt="Logo">
      Simstatus
    </button>
  </span>
  <span class="links">
    <button mat-button routerLink="revisions">Revisions</button>
    <button mat-button routerLink="paks">Paks</button>
    <button mat-button routerLink="saves">Saves</button>
    <button mat-button routerLink="simuconf">Simuconf</button>
  </span>
  <span class="fill"></span>
  <span class="actions">
    <button (click)="refresh()" *ngIf="refreshButton" mat-icon-button>
      <mat-icon>sync</mat-icon>
    </button>
  </span>
</mat-toolbar>
